body {
   /* background:red;*/
}

.happy-color {
        color: rgba(38, 220, 173, 1);
}


.happy-background {
        background: rgba(38, 220, 173, 1);
}

.happy-touch:hover {
        -webkit-animation: pulse 1s;
        animation: pulse 1s;
}

.happy-entry{
        -webkit-animation: pulse 1s;
        animation: pulse 1s;
}

#happy-fadeIn p {
        opacity: 0;
        margin-top: 25px;
        font-size: 21px;
        text-align: center;
        -webkit-transition: opacity 2s ease-in;
        -moz-transition: opacity 2s ease-in;
        -o-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
        transition: opacity 2s ease-in;
}
#happy-fadeIn p.load {
        opacity: 1;
}

/*-------------------------------accordion-------------------------------*/

/* Tab content - closed */
.tab-content {
        max-height: 0;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
       max-height: 150vh;
}
/* Label formatting when open */
.tab input:checked + label{
        /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
        font-size: 1.25rem; /*.text-xl*/
        padding: 1.25rem; /*.p-5*/
        border-left-width: 2px; /*.border-l-2*/
        border-color: #26dcad;
        background-color: #f8fafc; /*.bg-gray-100 */
        color: #26dcad;
}
/* Icon */
.tab label::after {
        float:right;
        right: 0;
        top: 0;
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
}
/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
        content: "+";
        font-weight:bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type=radio] + label::after {
        content: "\25BE";
        font-weight:bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
        background-color: #26dcad;
        color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
        background-color: #26dcad;
        color: #f8fafc; /*.text-grey-lightest*/
}

/*-------------------- btn-success-happy button---------------*/
.btn-success-happy {
        position: relative;
        background-color: #26dcad !important;
        color:white !important;
}

.btn-success-happy:focus {
        background-color: #25c298 !important;
        -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
        box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
        color:white;
}

.btn-success-happy:hover, .btn-success-happy:active:hover {
        background-color: #25c298 !important;
        color:white;
}

.btn-success-happy:active {
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        color:white;
}

.btn-success-happy:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin-left: 0;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-size: 1000% 1000%;
        background-position: 50%;
        border: none;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: background .5s, opacity 1s;
        transition: background .5s, opacity 1s;
}

.btn-success-happy:active:after {
        background-size: 0 0;
        opacity: .2;
        -webkit-transition: 0s;
        transition: 0s;
}

.btn-success-happy.disabled:after, .btn-success-happy[disabled]:after {
        display: none;
}

/*-------------------- overriding bg-success (happy)---------------*/

.bg-success-happy {
        background-color: #26dcad !important;
}

a.bg-success-happy:hover, a.bg-success-happy:focus,
button.bg-success-happy:hover,
button.bg-success-happy:focus {
        background-color: #26dcad !important;
}

/*a*/
a:link {
        color:  #25c298;
}
a:visited {
        color:  #25c298;
}
a:hover {
        color: white;
        background-color: #25c298;
        text-decoration:none;
}
a:active { /*selected*/
        color: white;
        background-color: #25c298;
        text-decoration:none;

}
/*--------footer--------*/
#page-container {
        position: relative;
        min-height: 82.5vh;
}

#content-wrap {
        height: 1rem;
}

#footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5rem;            /* Footer height */
}