<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Happy Plants{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        {% include('navbar.html.twig') %}
        <div id="page-container">
               <div class="container mt-5" id="content-wrap">
                <div class="jumbotron">
                    <h1 class="display-3">Welcome here! </h1>
                    <p class="lead">We're coming with a solution that will keep your <span class="badge badge-success bg-success-happy">plants</span> alive! </p>
                    <hr class="my-4">
                    <p>Not only that, but your plants will always be <span class="badge badge-success bg-success-happy">happy</span>!</p>
                    <p class="lead">
                        <a class="btn btn-success-happy btn-lg" href="{{ path('app_register')}}" role="button">Register</a>
                    </p>

                </div>

               </div>

                <footer class="mx-0 bg-dark text-center text-light" id="footer">
                    <p>Happy Plants App created with <a href="https://symfony.com/">Symfony</a> and &#10084; by <a href="https://twitter.com/">blackbird</a>.</p>

                </footer>
        </div>
            {% endblock %}
             {% block javascripts %}
                        {{ encore_entry_script_tags('app') }}
            {% endblock %}
    </body>
</html>
