{% extends 'base.html.twig' %}

{% block title %}Hello UserAccountController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% include('navbar.html.twig') %}

  {#
  - check by searching if a user has any plant, if it doesn', display a message
  to encourage them adding, and a form
  - if it doesn't have a place, start by adding place
  #}


    <div class="card container mt-3 bg-light mb-3">
        <div class="card-body">
            <p>
                {% if is_granted("ROLE_ADMIN") %}
                    <h4 class="card-title">Hi, {{ app.user.name }}, you can go to the admin dashboard, <a href="{{ path('admin') }}">here!</a></h4>
                {% elseif is_granted("ROLE_USER") %}
                    <h4 class="card-title">Hi, {{ app.user.name }}!</h4>

                        {% if numberOfPlants == 0 %}
                            <p> It seems that you don't have any plants yet.</p>
                            <p>    Let's start by adding a place where you keep them: </p>

                        {% endif %}
                {% endif %}
            </p>

            <div class="container card-text">
                <div class="row">

                </div>
            </div>
        </div>
    </div>



{% endblock %}
