<div class="col-md-12">
    {% form_theme actionHistoryForm'bootstrap_4_layout.html.twig' %}
    {{ form_start(actionHistoryForm) }}
    {{ form_row(actionHistoryForm.id_action) }}
    {{ form_row(actionHistoryForm.quantity) }}
    {% if edit == false %}
        <button class="btn btn-success">Add new</button>
    {% else %}
        <button class="btn btn-success">Update</button>
    {% endif %}
    {{ form_end(actionHistoryForm) }}
</div>