{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Action
{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class="card container mt-3 bg-light mb-3">
        <div class="card-body">
            {% include('user_account/plant-add-action.html.twig') %}
        </div>
    </div>
{% endblock %}